@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminPanel</title>
    @Styles.Render("~/Content/css") 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse border-radius-none mb-0">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Admin panel", "Index", "Map", null, new { @class = "navbar-brand header-pl" })
            </div>
            <div id="myNavbar" class="collapse navbar-collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input id="inputCity" type="text" class="form-control">
                    </div>
                    <button id="search" type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-search" style="top:3px;"></span>
                    </button>
                </form>
                <form class="navbar-form navbar-right">
                    <select id="listOFCities" class="form-control" style="min-width:150px;"></select>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid pl-0 pr-0" style="min-height:100%; position:relative;">
        <div id="mapAdmin" style="height: 100%;"></div>
    </div>
    <div class="btn-group btn-group-justified" style="position: fixed; bottom:0;">
        <a href="#" class="btn btn-success btn-lg">Add Attraction</a>
        <a href="#" class="btn btn-success btn-lg">Add Route</a>
        <a href="#" class="btn btn-success btn-lg">Add City</a>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7ZMMLBCvl7qIv55Sk7PAWQCDxYLfzF0g"></script>
    <script>

        $('#mapAdmin').css('height', $(window).height() - ($('#myNavbar').height()+2));
        $(window).resize(function () {
            console.log($(window).height());
            $('#mapAdmin').css('height', $(window).height() - ($('#myNavbar').height() + 2) );
        });
    </script>
    <script src='@Url.Content("~/TypeScript/Admin/MapAdmin.js")'></script>
</body>
</html>
