@model Project.ModelView.ChagePasswordViewModel

<div class="form-horizontal mt-20">
    <div class="form-group">
        @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label col-md-5 text-align-none" })
        <div class="col-md-7">
            @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { id = "currentPassword", @class = "form-control" } })
            <span id="currentPasswordError" class="hidden error-field"></span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-5 text-align-none" })
        <div class="col-md-7">
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { id = "newPassword", @class = "form-control" } })
            <span id="newPasswordError" class="hidden error-field"></span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NewPasswordConfirm, htmlAttributes: new { @class = "control-label col-md-5 text-align-none" })
        <div class="col-md-7">
            @Html.EditorFor(model => model.NewPasswordConfirm, new { htmlAttributes = new { id = "newPasswordConfirm", @class = "form-control" } })
            <span id="newPasswordConfirmError" class="hidden error-field"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button type="button" id="butAddRoutes" class="btn btn-primary pull-right" onclick="changePassword()">
                Save
            </button>
        </div>
    </div>
</div>
